@import 'normalize.css';
:root {
    --primary: #fe2c55;
    //DEfault layout
    --default-layout-header-height: 60px;
    --default-layout-header-width: 1150px;
    --default-layout-header-horizontal-space: 24px;

    //Color Font
    --whiteColor: #ebebeb;

    // TEXTCOLOR
    --text-color: #333;

    // CaretColor
    --CaretColor: rgb(255, 59, 92);

    //Button
    --primary-btn: rgba(255, 59, 92, 1);
    --text-button: rgba(255, 255, 255, 1);
    --white: #fff;

    //font
    --font-family: 'ProximaNova', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: #121212;
    color: var(--text-color);
}
// Font emmebed
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--white);
    text-decoration: none;
}

// Custom tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;
        color: rgb(255, 255, 255);
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: #333;
    }
    .tippy-content {
        padding: 8px 9px;
    }
}
